nelmio_cors:
    defaults:
        origin_regex: false
        allow_origin: 
            - 'https://int.app.flexystock.app'
            - 'https://int.controlpanel.flexystock.app'
            - 'http://localhost:5173'
        allow_methods: ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS', 'PATCH']
        allow_headers: ['Content-Type', 'Authorization', 'X-Requested-With', 'Accept', 'Origin']
        expose_headers: ['Content-Type', 'Authorization', 'Content-Length']
        allow_credentials: true
        max_age: 3600
    paths:
        '^/api/':
            allow_origin: 
                - 'https://int.app.flexystock.app'
                - 'https://int.controlpanel.flexystock.app'
                - 'http://localhost:5173'
            allow_methods: ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS', 'PATCH']
            allow_headers: ['Content-Type', 'Authorization', 'X-Requested-With', 'Accept', 'Origin']
            allow_credentials: true
            max_age: 3600
