<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="false"
         failOnRisky="false">

    <testsuites>
        <testsuite name="All Tests">
            <directory>tests</directory>
        </testsuite>
        
        <testsuite name="Database Tests">
            <file>tests/DatabaseTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="memory_limit" value="-1"/>
        
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0"/>
        
        <env name="DATABASE_URL" value="mysql://root:root@127.0.0.1:3306/docker_symfony_databaseMain"/>
        <env name="DEFAULT_ROUTE_URI" value="http://localhost"/>
        
        <!-- JWT Configuration - IMPORTANTE -->
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="FlexyStock"/>
        
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default"/>
        <env name="CORS_ALLOW_ORIGIN" value="^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$"/>
    </php>
</phpunit>
